@tailwind base;
@tailwind components;
@tailwind utilities;

.navClass {
    @apply font-semibold hover:text-[#ff4838] duration-300
}

.topSectionBackground {
    background-image: url("https://i.ibb.co/r41DDDn/zhanhui-li-1iux-Ws-IZ6ko-unsplash.jpg");
}
.reviewBackground {
    background-image: url("https://i.ibb.co/xXxn1X5/priscilla-du-preez-gge-Z9oy-I-PE-unsplash.jpg");
}
.pageBackground {
    background-image: url("https://i.ibb.co/f4X9RGx/coralie-meurice-sgmkz-XLT-qo-unsplash.jpg");
}
.bg-loginBg{
    background-image: url("https://i.ibb.co/WP4ydYW/dom-fou-YRMWVcdyhm-I-unsplash.jpg");
}
.bg-registerBg{
    background-image: url("https://i.ibb.co/vHsvd9T/shubham-sharan-Z-fq3w-BVf-MU-unsplash.jpg");
}